{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>GrowthStreet Loans - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static "loans/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "loans/css/global.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "loans/css/base.css" %}">
    <link rel="shortcut icon" href="https://www.growthstreet.co.uk/assets/img/favicon.ico">
  </head>
  <body>

    <header id="nav">
      <div id="nav-content">
        <img id="logo" src="{% static "loans/img/gs-logo.png"%}" />
      </div>
    </header>

    <div id="content-area">
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

  </body>
</html>
