{% extends "base.html" %}

{% block content %}

<div class="row">

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <a class="btn btn-primary pull-right" style="margin-top: 18px" href="{% url 'loan_application' '2' %}">
          <span class="glyphicon glyphicon-plus" style="margin-right: 5px; "></span>
          Add a business
        </a>
        <h1> 1 - Select your business</h1>
        <hr/>

        

        <hr/>
        <a href="{% url 'loan_application_crn' '3' '11131112' %}" class="btn btn-primary pull-right">Next ></a>

      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div> <!-- col-md-12 -->

</div> <!-- row -->

{% endblock %}
