
$back-dark: #24292d;
$back-light: #dadada;
$accent: #66c5c8;
$accent-dark: #46a5a8;
$accent-secondary: #607276;
$foreground-light: #FFF;
$nav-back: #14191d;
$foreground-dark: #283034;

body {
  background-color: $back-light;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  padding: 0px;

  a {
    color: $accent-dark;
  }

  a:hover, a:visited {
    color: $accent-secondary;
  }
}

#nav {
  background-color: $back-dark;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 15px 60px;

  #nav-content {
    max-width: 1000px;
    margin: auto;
  }
}

#content-area {
  margin-top: 40px;
  width: 100%;
  position: absolute;

  #content {
    max-width: 800px;
    margin: auto;

    .panel-body {
      padding: 40px;

      h1 {
        font-size: 22pt;
        font-weight: 600;
        // text-align: center;
        color: $foreground-dark;
      }
    }
  }
}
